<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="medrecApp">

<head id="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="Medical Records" />
	<title>Physician Home</title>
</head>

<body id="body">
	<div id="bar" class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="#">
					<font face="verdana">Mary J Oblige</font>
				</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active">
							<a href="#">
								<font face="verdana">Home</font>
							</a>
						</li>
						<li>
							<a data-toggle="modal" href="#logoutModal">
								<font face="verdana">Logout</font>
							</a>
						</li>
					</ul>
				</div>
				<div class="navbar-text pull-right" ng-controller="TimeCtrl as T1">
					<p>
						<font face="verdana">{{T1.timeString}}</font>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="blank80"></div>
	<div class="hide">
		<input id="a_name" value="administrator" />
	</div>
	<div id="logoutModal" class="modal hide fade signin">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Physician - Mary</h3>
		</div>
		<div class="modal-body">
			<h4>Please be sure to logout.</h4>
			<form id="logout" name="logout" method="get" action="index.html" class="form-signin" enctype="application/x-www-form-urlencoded">
				<input type="submit" name="logout.action" value="Logout" class="btn btn-warning pull-right" />
			</form>
		</div>
	</div>

	<div class="hide">
		<input id="cp" value="/medrec" />
	</div>
	<div id="container" class="container">

		<hr class="featurette-divider" />

		<div class="contents">
			<div class="alert alert-success fade in">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<font face="verdana">Successful Login.</font>
			</div>

			<div class="row">
				<div class="span4">
					<h3>Patient Info</h3>
				</div>
			</div>
			<div ng-controller="PatientDetailsCtrl">
				<div class="row">
					<div class="span4">
						<select ng-model="selectedPatient" ng-options="x.LASTNAME for x in patient" ng-init="selectedPatient = patient[0].LASTNAME"
						 ng-change="selectedItemChanged()">
					   <option value="">-- please select a patient --</option>
					</select>
					</div>
				</div>

				<table id="patientTable" class="table table-hove span8">
					<thead>
						<tr>
							<th scope="col">
								<font face="verdana">Username</font>
							</th>
							<th scope="col">
								<font face="verdana">Firstname</font>
							</th>
							<th scope="col">
								<font face="verdana">Lastname</font>
							</th>
							<th scope="col">
								<font face="verdana">Gender</font>
							</th>
							<th scope="col">
								<font face="verdana">DOB</font>
							</th>
							<th scope="col">
								<font face="verdana">SSN</font>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<font face="verdana">{{selectedPatient.USERNAME}}</font>
							</td>
							<td>
								<font face="verdana">{{selectedPatient.FIRSTNAME}}</font>
							</td>
							<td>
								<font face="verdana">{{selectedPatient.LASTNAME}}</font>
							</td>
							<td>
								<font face="verdana">{{selectedPatient.GENDER}}</font>
							</td>
							<td>
								<font face="verdana">{{selectedPatient.DOB | limitTo:letterLimit}} </font>
							</td>
							<td>
								<font face="verdana">{{selectedPatient.SSN}}</font>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="span4">
					<h3>Drug Info
					</h3>
				</div>
			</div>
			<div ng-controller="DrugListCtrl">
				<select ng-model="selectedPrescription" ng-options="x.NAME for x in drug" ng-init="selectedPrescription = drug[0].NAME" ng-change="selectedItemChanged()">
					   <option value="">-- please choose a drug --</option>
					</select>
				<button class="btn btn-primary" ng-click="toggle = !toggle">{{toggleText}}</button>
				<button class="btn btn-primary" ng-click="invokeButttonPressed()">Invoke</button>
				<!--button class="btn btn-primary" ng-click="liveButttonPressed()">Live</button>
				<button class="btn btn-primary" ng-click="virtualButttonPressed()">Virtualf</button-->
				<h5>
					<font face="verdana">You have selected prescription: {{selectedPrescription.NAME}}</font>
				</h5>
				<br>

				<div ng-if="hasDrugInfo">
					<p>
						<font face="verdana">Company Number: {{drugresult.companynumb}}</font>
					</p>
					<p>
						<font face="verdana">Sender Organization: {{drugresult.sender.senderorganization}}</font>
					</p>
					<p>
						<font face="verdana">Patient Reactions: {{drugresult.patient.reaction[0].reactionmeddrapt}}</font>
					</p>
					<p>
						<font face="verdana">Drug Indication: {{drugresult.patient.drug[0].drugindication}}</font>
					</p>
					<p>
						<font face="verdana">Medicinal Product: {{drugresult.patient.drug[0].medicinalproduct}}</font>
					</p>

					<p>
						<font face="verdana">Manufacturer Names:</font>
						<ul>
							<li ng-repeat="name in manufacturer">
								<font face="verdana">{{name}}</font>
							</li>
						</ul>
					</p>
				</div>
			</div>

			<div class="row footer text-center">
				<hr />
				<p class="copyright">
					<a href="http://www.ca.com" target="_blank">CA Home</a> | <a href="https://www.ca.com/us/products/product-list.html"
					 target="_blank">Products </a> | <a href="https://www.ca.com/us/services-support.html?intcmp=headernav" target="_blank">Services</a>					| <a href="https://www.ca.com/us/services-support/ca-support.html" target="_blank">Support</a> | <a href="https://www.ca.com/us/education-training.html?intcmp=headernav"
					 target="_blank">Education & Training</a> | <a href="https://www.ca.com/us/partners.html?intcmp=headernav" target="_blank">Partners</a>					| <a href="https://communities.ca.com/welcome" target="_blank">Communities</a> | <a href="https://www.ca.com/us/company.html"
					 target="_blank">About</a>
					<br />Copyright © 2017, CA and/or its affiliates. All rights reserved. <a href="https://www.ca.com/us/company/contact-us.html?intcmp=headernav"
					 target="_blank">Contact Us</a><br />
				</p>
			</div>
		</div>
		<link href="medrec/physician/css/bootstrap.css" rel="stylesheet" />
		<link href="medrec/physician/css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="medrec/physician/css/medrec.css" rel="stylesheet" />
		<script type="text/javascript" src="medrec/physician/js/jquery.js"></script>
		<script type="text/javascript" src="medrec/physician/js/bootstrap.js"></script>
		<script type="text/javascript" src="medrec/physician/js/angular.js"></script>
		<script type="text/javascript" src="medrec/physician/js/app.js"></script>
		<script type="text/javascript" src="medrec/physician/js/patient.service.js"></script>

		<!--script>
			var app = angular.module("clockApp", []);
			app.controller("TimeCtrl", TimeCtrl);

			function TimeCtrl($scope) {
				var currentDate = new Date();
				$scope.timeString = currentDate.toTimeString();
			}
		</script-->
</body>

</html>